:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  font-size: 10px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--bs-light);
  font-family: 'Basico', sans-serif;
  color: var(--bs-dark);
}

ul {
  list-style: none;
}

/* ============================================ */
/*                ABOUT                         */
/* ============================================ */
.about {
  position: relative;
  filter: drop-shadow(0px 2px 8px rgba(99, 99, 99, 0.2));
  padding: 10rem;
}

.about::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bs-info);
  z-index: -1;
  clip-path: polygon(0 0, 100% 0, 100% 42%, 0% 100%);
}

.about-container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr 6fr 1fr;
  grid-template-areas:
    'portrait .'
    'portrait content'
    'portrait .';
  margin: 0 auto;
  max-width: 70vw;
}

.portrait-container {
  position: relative;
  grid-area: portrait;
  /* aspect-ratio: 1/1; */
}

.portrait-container::before {
  position: absolute;
  z-index: 10;
  content: 'Ashley Williams';
  color: var(--bs-light);
  font-size: 3.5vw;
  bottom: 0;
  width: 100%;
  text-align: center;
  text-shadow: -1px 1px 0 #000;
  font-family: 'Violety Dreams', 'Basico', sans-serif;
}

.portrait-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.content {
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 4rem;
  color: var(--bs-gray-dark);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  grid-area: content;

  background-color: var(--bs-light);
}

.content h2 {
  font-size: 5rem;
}

.content p {
  padding: 1rem 0;
  font-size: 1.7rem;
  line-height: 3rem;
  max-width: 70ch;

  display: grid;
  align-items: center;
}

.socials {
  display: flex;
  justify-self: end;
  gap: 1.5rem;
  font-size: 3rem;
}

.socials svg {
  transition: all 0.3s;
}

.socials svg:hover {
  cursor: pointer;
  transform: scale(1.1) !important;
}

/* ============================================ */
/*                PROJECTS                      */
/* ============================================ */

.projects {
  padding: 10rem;
}

.title h2 {
  font-family: 'Violety Dreams', 'Basico', sans-serif;
  font-size: 4rem;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  gap: 5rem;
}

.projects-item {
  display: grid;
  grid-template-rows: 3fr 2fr;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding-bottom: 5rem;
}

.project-content {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project-header ul {
  display: flex;
  gap: 1rem;
}

.project-header li:first-child {
  flex-grow: 1;
  font-size: 2rem;
  align-self: center;
}

.project-header li:not(:first-child) {
  font-size: 3rem;
}

.project-header svg {
  transition: all 0.3s;
}

.project-header svg:hover {
  cursor: pointer;
  transform: scale(1.1) !important;
}

.project-desc {
  font-size: 1.3rem;
  color: var(--bs-gray-dark);
  line-height: 2.8rem;
}

.screenshot {
  max-height: 30rem;
  overflow: hidden;
}

.screenshot img {
  width: 100%;
}
