:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  font-size: 10px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bs-light);
  font-family: 'Basico', sans-serif;
  color: var(--bs-dark);
}

ul {
  list-style: none;
}

/* ============================================ */
/*                ABOUT                         */
/* ============================================ */
.about {
  position: relative;
  filter: drop-shadow(0px 2px 8px rgba(99, 99, 99, 0.2));
  padding: 10rem;
}

.about::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bs-info);
  z-index: -1;
  clip-path: polygon(0 0, 100% 0, 100% 42%, 0% 100%);
}

.about-container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr 6fr 1fr;
  grid-template-areas:
    'portrait .'
    'portrait content'
    'portrait .';
  margin: 0 auto;
  max-width: 70vw;
}

.portrait-container {
  position: relative;
  grid-area: portrait;
}

.portrait-container::before {
  position: absolute;
  z-index: 10;
  content: 'Ashley Williams';
  color: var(--bs-light);
  font-size: 3.5vw;
  bottom: 0;
  width: 100%;
  text-align: center;
  text-shadow: -1px 1px 0 #000;
  font-family: 'Violety Dreams', 'Basico', sans-serif;
}

.portrait-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.content {
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 4rem;
  color: var(--bs-gray-dark);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  grid-area: content;

  background-color: var(--bs-light);
}

.content h2 {
  font-size: 5rem;
}

.content p {
  padding: 1rem 0;
  font-size: 2rem;
  line-height: 3rem;
  max-width: 70ch;
  font-family: 'LT Museum';

  display: grid;
  align-items: center;
}

.socials {
  display: flex;
  justify-self: end;
  gap: 1.5rem;
  font-size: 3rem;
}

.socials svg {
  transition: all 0.3s;
}

.socials svg:hover {
  cursor: pointer;
  transform: scale(1.1) !important;
}

/* ============================================ */
/*                PROJECTS                      */
/* ============================================ */

.projects {
  padding: 10rem;
}

.title h2 {
  font-family: 'Violety Dreams', 'Basico', sans-serif;
  font-size: 4rem;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  justify-content: center;
  gap: 5rem;
}

.projects-item {
  display: grid;
  grid-template-rows: 3fr 2fr;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding-bottom: 5rem;
}

.project-content {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project-header ul {
  display: flex;
  gap: 1rem;
}

.project-header li:first-child {
  flex-grow: 1;
  font-size: 2rem;
  align-self: center;
}

.project-header li:not(:first-child) {
  font-size: 3rem;
}

.project-header svg {
  transition: all 0.3s;
}

.project-header svg:hover {
  cursor: pointer;
  transform: scale(1.1) !important;
}

.project-desc {
  font-size: 1.5rem;
  color: var(--bs-gray-dark);
  line-height: 2.8rem;
  font-family: 'LT Museum';
}

.screenshot {
  max-height: 30rem;
  overflow: hidden;
}

.screenshot img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ============================================ */
/*                FOOTER                      */
/* ============================================ */

.footer {
  background-color: var(--bs-info);
  padding: 10rem;
  color: var(--bs-light);
  font-family: 'LT Museum';
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
}

.footer-img-container {
  display: grid;
  place-items: center;
}

.footer-img-container img {
  max-width: 100%;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-self: center;
}

.footer-title {
  font-size: 3rem;
}

.footer-content p {
  font-size: 1.5rem;
  max-width: 30ch;
}

.footer-contact p {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.footer-contact p svg {
  font-size: 2.3rem;
}

.footer-socials {
  color: var(--bs-dark);
  font-size: 3rem;
}

.footer-socials svg {
  transition: all 0.3s;
}

.footer-socials svg:hover {
  transform: scale(1.2) !important;
  cursor: pointer;
}

@media screen and (max-width: 1250px) {
  .projects {
    padding: 5rem;
  }

  .projects-container {
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  }
}

@media screen and (max-width: 950px) {
  .projects {
    padding: 3rem;
  }

  .projects-container {
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 3rem;
  }
}

@media screen and (max-width: 790px) {
  html {
    font-size: 8px;
  }
  .projects-container {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }

  .footer-img-container img {
    height: 100%;
    width: auto;
    object-fit: cover;
  }

  .footer {
    padding: 3rem;
  }

  .about {
    padding: 5rem;
  }

  .about-container {
    display: block;
    max-width: none;
    background-color: var(--bs-light);
  }

  .portrait-container {
    max-width: 30rem;
    float: left;
    margin: 0 2rem 0 0;
    transform: scale(1.1);
    transform-origin: bottom right;
  }

  .portrait-container::before {
    top: 0;
    right: 0;
    width: 100%;
    font-size: 6rem;
    transform: translateX(90%);
    text-align: left;
    white-space: nowrap;
  }

  .content {
    background-color: inherit;
    box-shadow: none;
    display: block;
  }
  .content h2 {
    margin-top: 5rem;
    font-size: 3rem;
  }

  .content p {
    display: block;
  }

  .socials {
    display: none;
  }

  .projects-item {
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 600px) {
  .about {
    filter: none;
    padding: 3rem;
  }
  .about::before {
    clip-path: polygon(0 0, 100% 0, 100% 22%, 0% 50%);
  }
  .about-container {
    display: flex;
    flex-direction: column;
    background-color: transparent;
  }

  .portrait-container {
    max-width: 80%;
    transform: none;
    float: none;

    margin: 0 auto;
  }
  .portrait-container::before {
    display: block;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    margin-left: 0.5rem;
    white-space: wrap;
    font-size: 9rem;
    transform: none;
  }

  .content {
    padding: 2rem 0;
  }

  .socials {
    display: flex;
    justify-content: center;
  }
  .projects-container {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }

  .footer {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
  }

  .footer-socials {
    margin: 0 auto;
  }
}

@media screen and (max-width: 400px) {
  :root {
    font-size: 8px;
  }
}
